{% extends 'base.html.twig' %}

{% block title %}Celebrity Face Matcher{% endblock %}

{% block content %}
<div class="flex w-200">
    <iframe
        class="w-full h-auto rounded-md overflow-hidden min-h-200 embed-responsive-item"
        src="https://player.vimeo.com/video/1140065884?badge=0&amp;autoplay=1&amp;loop=1&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="SymfonyCon 2025 artifact matcher"></iframe>
</div><script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}
